$color-black: #171717;
$color-dark-grey: #4c4c49;
$color-red: #ff5959;
$color-off-white: #f3f2ef;
$color-white: #ffffff;
$color-card-bg: #d1d3ca;

$container-width: 1196px;
$layout-max-width: 1440px;

/* Breakpoints (mobile-first) */
$breakpoint-sm: 640px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;

$space-20: 20px;
$space-40: 40px;
$space-60: 60px;
$space-80: 80px;
$space-120: 120px;

$header-height: 58px;

$card-width: 284px;
$card-wide-width: 588px;
$card-height: 479px;


/* Typography */
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 20px;
$font-size-lg: 32px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$line-height-tight: 1.2;
$line-height-normal: 1.5;