@use "../styles/tokens" as *;
@use "../styles/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-weight: $font-weight-regular;

  background: $color-white;
  color: $color-black;

  -webkit-font-smoothing: antialiased;
}

section {
  margin: 0 0 $space-40  0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  max-width: $container-width;

  margin: 0 auto;
  padding: $space-60 0;
}