@use "../../../styles" as *;

.header {
  height: 100px;
  background: $color-red;
}

.inner {
  height: 100%;
  max-width: $layout-max-width;
  margin: 0 auto;
  padding: 0 $space-20;
  display: flex;
  align-items: center;
  gap: $space-20;
}

.title {
  color: $color-off-white;
  font-weight: $font-weight-bold;
}
