@use "../../../styles" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: $color-black;
  background-size: cover;
  background-position: center;

  p {
    color: $color-off-white;
  }
}
